@use '../variables';

.NavBar {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 200px;
    max-height: 100%;
    gap: 20px;

    .LogoName{
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            width: 40px;
            transform: rotate(90deg);
        }

        span {
            font-weight: 700;
            font-size: 24px;
        }
    }

    .navsAndLogout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .navegation {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            width: 100%;
    
            a{
                text-decoration: none;
                color: black;
                display: flex;
                justify-content: start;
                gap: 10px;
                padding: 10px 0 10px 10px;
                border-radius: 5px;
                width: 95%;
            }
    
            a:hover {
                background-color: #4481dd;
                color: white;
                transition: all;
                transition-duration: 0.3s;
            }
        }

        #logout {
            text-decoration: none;
            color: black;
            gap: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: start;
            padding: 10px 0 10px 10px;
        }

        #logout:hover {
            background-color: #ec3232;
            color: white;
            filter: brightness(0.8);
            transition: all;
            transition-duration: 0.3s;
        }
    }

}